/* line 1, /Users/migzulet/Documents/study/creatures/site/components/sass/_main.scss */
.dude * {
  color: red;
}

/* line 5, /Users/migzulet/Documents/study/creatures/site/components/sass/_main.scss */
.alien * {
  color: green;
}

/* line 9, /Users/migzulet/Documents/study/creatures/site/components/sass/_main.scss */
.pupil:after {
  content: 'OO';
}

/* line 13, /Users/migzulet/Documents/study/creatures/site/components/sass/_main.scss */
.looney:after {
  content: ' oO';
}
