<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>Creatures</title>
    <link href='styles.css' rel='stylesheet'>
  </head>
  <body>
    <h1>Creatures</h1>
    <div class='creature-dude wrap'>
      <div class='creature dude'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature dude'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature dude'>
        <!--=include inc/body.html -->
      </div>
    </div>
    <div class='creature-alien wrap'>
      <div class='creature alien'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature alien'>
        <!--=include inc/body.html -->
      </div>
    </div>
    <div class='creature-minion wrap'>
      <div class='creature minion'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature minion'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature minion'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature minion'>
        <!--=include inc/body.html -->
      </div>
    </div>
    <div class='creature-random wrap'>
      <div class='creature random'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature random'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature random'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature random'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature random'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature random'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature random'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature random'>
        <!--=include inc/body.html -->
      </div>
      <div class='creature random'>
        <!--=include inc/body.html -->
      </div>
    </div>
  </body>
  <script src='js.js'></script>
</html>
