.face {
  color: red;
}

.nee {
  color: blue;
}

aside {
  background-color: yellow;
}

[data-empty] {
  background-color: black;
  color: pink;
  &:after{
    content: ' this tag has no class';
  }
}