- creature = [ ['dude', 9], ['alien', 4], ['minion', 3] ];
- qw = creature[0][1];

<!DOCTYPE html>
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title Creatures
    %link{:rel => "stylesheet", :href => "styles.css"}/
  %body
    %h1 Creatures
    - creature.each do |i|
      %div(class = "creature-#{i[0]} wrap")
        %div(class = "creature #{i[0]}") O
    / .creature-dude.wrap
    /   - 3.times do
    /     .creature.dude
    /       <!--=include inc/body.html -->
    / .creature-alien.wrap
    /   - 2.times do
    /     .creature.alien
    /       <!--=include inc/body.html -->
    / .creature-minion.wrap
    /   - 4.times do
    /     .creature.minion
    /       <!--=include inc/body.html -->
    / .creature-random.wrap
    /   - 9.times do
    /     .creature.random
    /       <!--=include inc/body.html -->
  %script(src = "js.js")