<!DOCTYPE html>
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title Creatures
    %link{:rel => "stylesheet", :href => "styles.css"}/
  %body
    %h1 Creatures
    .creature-dude.wrap
      - 3.times do
        .creature.dude
    .creature-alien.wrap
      - 2.times do
        .creature.alien
    .creature-minion.wrap
      - 4.times do
        .creature.minion
    .creature-random.wrap
      - 9.times do
        .creature.random
  %script(src = "js.js")